<div class="d-flex align-items-center vh-100">
  <div class="mx-auto text-center shadow-sm bg-dark rounded p-5 my-5" style="height: 400px; width: 800px !important; margin-bottom: 170px !important;">
    <div class="row mt-4">
      <div class="col-md-6 d-none d-md-block" style="height: 450px">
        <div class="text-center col-md-12 my-auto side-heder">
          <h6>Cadastro de Usuário</h6>
          <img
            src="../../../../assets/premission.png"
            class="my-4"
            alt=""
            width="200px"
          />
        </div>
      </div>

      <div class="col-md-6" style="height: 400px !important;">
        <form class="p-1">
          <div class="pb-2 d-block d-md-none">
            <h6 class="border-bottom" style="font-size: 10px !important;">Cadastro de Usuário</h6>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <div class="did-floating-label-content">
                <input
                  placeholder=""
                  autocomplete="off"
                  type="text"
                  class="did-floating-input bg-dark form-control"
                  id="nome"
                  name="nome"
                  required
                />
                <label class="did-floating-label bg-dark">Nome completo</label>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <div class="did-floating-label-content">
              <input
                placeholder=""
                autocomplete="off"
                type="text"
                class="did-floating-input bg-dark form-control"
                id="email"
                name="email"
                required
              />
              <label class="did-floating-label bg-dark">Email</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <div class="did-floating-label-content">
                <input
                  placeholder=""
                  autocomplete="off"
                  type="password"
                  class="did-floating-input bg-dark form-control"
                  id="password"
                  name="password"
                  required
                />
                <label class="did-floating-label bg-dark">Senha</label>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <div class="did-floating-label-content">
                <input
                  placeholder=""
                  autocomplete="off"
                  type="password"
                  class="did-floating-input bg-dark form-control"
                  id="password"
                  name="password"
                  required
                />
                <label class="did-floating-label bg-dark"
                  >Confirmar Senha</label
                >
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <button class="btn btn-lg btn-success btn-block px-5">
                Registar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
