<div class="d-flex align-items-center vh-100">
  <div
    class="mx-auto text-center shadow-sm bg-dark rounded p-5 my-5"
    style="margin-bottom: 170px !important"
  >
    <form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">
      <i class="fa fa-users mb-2"></i>
      <h1 class="h3 mb-3 font-weight-normal">Entrar com</h1>
      <div class="did-floating-label-content">
        <input
          [(ngModel)]="model.email"
          name="email"
          id="email"
          type="email"
          autocomplete="off"
          class="did-floating-input bg-dark form-control"
          required
        />
        <label class="did-floating-label bg-dark">Usuário</label>
      </div>
      <div class="did-floating-label-content">
        <input
          autocomplete="off"
          [(ngModel)]="model.senha"
          type="password"
          name="senha"
          id="senha"
          class="did-floating-input bg-dark form-control"
          required
        />
        <label class="did-floating-label bg-dark">Senha</label>
      </div>
      <div class="did-floating-label-content">
      <select
      class="did-floating-input bg-dark form-control"
        name="acceptlanguage"
        id="acceptlanguage"
        style="color: white !important"
        aria-placeholder="pt-br"
        [(ngModel)]="model.acceptlanguage"
      >
        <option value="pt-br">Portuguese</option>
        <option value="en">English</option>
      </select>
      <label class="did-floating-label bg-dark">Selecionar Idioma</label>
    </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Entrar
      </button>
      <a class="btn btn-lg btn-link btn-block" routerLink="/user/registrar"
        >Quero me cadastrar</a
      >
    </form>
  </div>
</div>
